<template>
  <v-container>
    <v-row>
        <v-col
            xs="12"
            sm="4"
            lg="3"
            v-for="(data, i) in listData"
                :key="i"
        >
            <v-card
                class="mx-auto"
                max-width="374"
            >
                <v-img
                    height="250"
                    :src='data.image_url'
                ></v-img>

                <v-card-title v-if="data.title.length<35">{{data.title}}</v-card-title>
                <v-card-title v-else>{{ data.title.substring(0,35)+".." }}</v-card-title>

                <v-card-text class="info-card-details">
                    <div class="mb-3 text-subtitle-1">
                        <timeago :datetime='data.created_at' locale="en"></timeago>
                    </div>

                    <v-row
                        align="center"
                        class="mx-0"
                    >
                        <v-rating
                        :value='data.vote'
                        color="amber"
                        dense
                        half-increments
                        readonly
                        size="14"
                        ></v-rating>

                        <div class="grey--text ms-4">
                         ({{data.vote}})
                        </div>
                    </v-row>

                    <div class="my-4 text-subtitle-1">
                        ฿ • {{data.price.toFixed(2)}}
                    </div>
                </v-card-text>

            </v-card>
        </v-col>

    </v-row>

    <div class="text-center my-8">
        <v-pagination
        v-model="page"
        :length="2"
        disabled
        ></v-pagination>
    </div>
  </v-container>
  
</template>

<script>
    import json from '../assets/list.json'
    export default {
        name: 'CardGrid',

        data: () => ({
            listData: json,
            page: 1,
        }),
    }
</script>

<style scoped>
    .v-card__title {
        word-break: normal;
    }
</style>