<template>
  <v-app>
    <v-main>
      <v-container>
        <v-row>
          <v-col>
            <h1 class="display-2 font-weight-bold mb-3">
              Homework Challenge 
            </h1>
            <p class="subheading font-weight-regular">
              at aCommerce by <a href="https://www.pimpatcha.com" target="_blank">Pim Patcha</a>
            </p>
          </v-col>
        </v-row>
      </v-container>
      <CardGrid/>
    </v-main>
  </v-app>
</template>

<script>
import CardGrid from './components/CardGrid';

export default {
  name: 'App',

  components: {
    CardGrid,
  },

  data: () => ({
    message: ''
  }),
};
</script>
